/AllocationException.class
/BaseSystemNotInitializedException.class
/BoundaryException.class
/CheckedAllocationException.class
/SortedVector$Comparator.class
/SortedVector.class
/UncleanStatusException.class
