/NIVision$AIMGrade.class
/NIVision$AIMGradeReport.class
/NIVision$AVIInfo.class
/NIVision$Annulus.class
/NIVision$ArcInfo.class
/NIVision$ArcInfo2.class
/NIVision$AttenuateMode.class
/NIVision$AxisOrientation.class
/NIVision$AxisReport.class
/NIVision$BCGOptions.class
/NIVision$Barcode2DCellShape.class
/NIVision$Barcode2DContrast.class
/NIVision$Barcode2DInfo.class
/NIVision$Barcode2DSearchMode.class
/NIVision$Barcode2DShape.class
/NIVision$Barcode2DType.class
/NIVision$BarcodeInfo.class
/NIVision$BarcodeType.class
/NIVision$BestCircle.class
/NIVision$BestCircle2.class
/NIVision$BestEllipse.class
/NIVision$BestEllipse2.class
/NIVision$BestLine.class
/NIVision$BorderMethod.class
/NIVision$BrowserFrameStyle.class
/NIVision$BrowserLocation.class
/NIVision$BrowserOptions.class
/NIVision$ButtonLabel.class
/NIVision$CIELabValue.class
/NIVision$CIEXYZValue.class
/NIVision$CalibrationAxisInfo.class
/NIVision$CalibrationInfo.class
/NIVision$CalibrationLearnSetupInfo.class
/NIVision$CalibrationMode.class
/NIVision$CalibrationMode2.class
/NIVision$CalibrationPoints.class
/NIVision$CalibrationROI.class
/NIVision$CalibrationReferencePoints.class
/NIVision$CalibrationThumbnailType.class
/NIVision$CalibrationUnit.class
/NIVision$CaliperOptions.class
/NIVision$CaliperReport.class
/NIVision$CaliperToolResult.class
/NIVision$CannyOptions.class
/NIVision$CharInfo.class
/NIVision$CharInfo2.class
/NIVision$CharReport.class
/NIVision$CharReport2.class
/NIVision$CharReport3.class
/NIVision$CharSet.class
/NIVision$CharacterStatistics.class
/NIVision$CircleDescriptor.class
/NIVision$CircleFeature.class
/NIVision$CircleFitOptions.class
/NIVision$CircleMatch.class
/NIVision$CircleReport.class
/NIVision$ClampMax2Report.class
/NIVision$ClampOverlaySettings.class
/NIVision$ClampPoints.class
/NIVision$ClampResults.class
/NIVision$ClampSettings.class
/NIVision$ClassScore.class
/NIVision$ClassifiedCurve.class
/NIVision$ClassifiedDisparity.class
/NIVision$ClassifierAccuracyReport.class
/NIVision$ClassifierEngineType.class
/NIVision$ClassifierReport.class
/NIVision$ClassifierReportAdvanced.class
/NIVision$ClassifierSampleInfo.class
/NIVision$ClassifierSession.class
/NIVision$ClassifierType.class
/NIVision$ClassifyDistancesReport.class
/NIVision$ClosedContour.class
/NIVision$ClosedCurveFeature.class
/NIVision$ColorClassificationResolution.class
/NIVision$ColorHistogramReport.class
/NIVision$ColorIgnoreMode.class
/NIVision$ColorInformation.class
/NIVision$ColorMode.class
/NIVision$ColorOptions.class
/NIVision$ColorSegmenationOptions.class
/NIVision$ColorSensitivity.class
/NIVision$ColumnProcessingMode.class
/NIVision$ComparisonFunction.class
/NIVision$Complex.class
/NIVision$ComplexPlane.class
/NIVision$CompressionType.class
/NIVision$ComputeDistancesReport.class
/NIVision$ConcentricEdgeFitOptions.class
/NIVision$ConcentricRake2Result.class
/NIVision$ConcentricRakeDirection.class
/NIVision$ConcentricRakeReport.class
/NIVision$ConcentricRakeReport2.class
/NIVision$ConnectionConstraint.class
/NIVision$ConnectionConstraintType.class
/NIVision$Connectivity.class
/NIVision$ConstCurveFeature.class
/NIVision$ConstructROIOptions.class
/NIVision$ConstructROIOptions2.class
/NIVision$ContourComputeCurvatureReport.class
/NIVision$ContourFitLineReport.class
/NIVision$ContourFitPolynomialReport.class
/NIVision$ContourFitSplineReport.class
/NIVision$ContourInfo.class
/NIVision$ContourInfo2.class
/NIVision$ContourInfoReport.class
/NIVision$ContourOverlaySettings.class
/NIVision$ContourPoint.class
/NIVision$ContourSetupMatchPatternResult.class
/NIVision$ContourType.class
/NIVision$ContrastMode.class
/NIVision$CooccurrenceOptions.class
/NIVision$CoordinateSystem.class
/NIVision$CoordinateTransform.class
/NIVision$CoordinateTransform2.class
/NIVision$CornerFeature.class
/NIVision$CurvatureAnalysisReport.class
/NIVision$Curve.class
/NIVision$CurveOptions.class
/NIVision$CurveParameters.class
/NIVision$DataMatrixCellFillMode.class
/NIVision$DataMatrixCellFilterMode.class
/NIVision$DataMatrixCellSampleSize.class
/NIVision$DataMatrixDemodulationMode.class
/NIVision$DataMatrixDescriptionOptions.class
/NIVision$DataMatrixECC.class
/NIVision$DataMatrixGradingMode.class
/NIVision$DataMatrixMirrorMode.class
/NIVision$DataMatrixOptions.class
/NIVision$DataMatrixPolarity.class
/NIVision$DataMatrixReport.class
/NIVision$DataMatrixRotationMode.class
/NIVision$DataMatrixSearchOptions.class
/NIVision$DataMatrixSizeOptions.class
/NIVision$DataMatrixSubtype.class
/NIVision$DetectCirclesResult.class
/NIVision$DetectEllipsesResult.class
/NIVision$DetectExtremesOptions.class
/NIVision$DetectExtremesResult.class
/NIVision$DetectLinesResult.class
/NIVision$DetectRectanglesResult.class
/NIVision$DetectionMode.class
/NIVision$Direction3D.class
/NIVision$Disparity.class
/NIVision$DisplacementVector.class
/NIVision$DisplayMapping.class
/NIVision$DisposedStruct.class
/NIVision$DistortionModel.class
/NIVision$DistortionModelParams.class
/NIVision$DivisionModel.class
/NIVision$DrawMode.class
/NIVision$DrawTextOptions.class
/NIVision$EdgeFilterSize.class
/NIVision$EdgeInfo.class
/NIVision$EdgeLocationReport.class
/NIVision$EdgeOptions.class
/NIVision$EdgeOptions2.class
/NIVision$EdgePolarity.class
/NIVision$EdgePolaritySearchMode.class
/NIVision$EdgeProcess.class
/NIVision$EdgeReport.class
/NIVision$EdgeReport2.class
/NIVision$EdgeTool4Result.class
/NIVision$EllipseDescriptor.class
/NIVision$EllipseFeature.class
/NIVision$EllipseMatch.class
/NIVision$EnumerateCustomKeysResult.class
/NIVision$ErrorStatistics.class
/NIVision$ExtractContourDirection.class
/NIVision$ExtractContourReport.class
/NIVision$ExtractContourResult.class
/NIVision$ExtractContourSelection.class
/NIVision$ExtractCurvesResult.class
/NIVision$ExtractTextureFeaturesReport.class
/NIVision$ExtractionMode.class
/NIVision$ExtremeReport.class
/NIVision$FeatureData.class
/NIVision$FeatureType.class
/NIVision$FindCirclesResult.class
/NIVision$FindCircularEdgeOptions.class
/NIVision$FindCircularEdgeReport.class
/NIVision$FindConcentricEdgeOptions.class
/NIVision$FindConcentricEdgeReport.class
/NIVision$FindEdgeOptions2.class
/NIVision$FindEdgeReport.class
/NIVision$FindReferenceDirection.class
/NIVision$FindTransformMode.class
/NIVision$FindTransformRect2Result.class
/NIVision$FindTransformRectOptions2.class
/NIVision$FindTransformRects2Result.class
/NIVision$FindTransformRectsOptions2.class
/NIVision$FitCircleOptions.class
/NIVision$FitEllipseOptions.class
/NIVision$FitLineOptions.class
/NIVision$FlattenType.class
/NIVision$FlipAxis.class
/NIVision$FocalLength.class
/NIVision$FontColor.class
/NIVision$GeometricAdvancedSetupDataOption.class
/NIVision$GeometricMatchingMode.class
/NIVision$GeometricMatchingSearchStrategy.class
/NIVision$GeometricPatternMatch.class
/NIVision$GeometricPatternMatch2.class
/NIVision$GeometricPatternMatch3.class
/NIVision$GeometricSetupDataItem.class
/NIVision$GetBisectingLineResult.class
/NIVision$GetCalibrationInfoReport.class
/NIVision$GetCameraParametersReport.class
/NIVision$GetClassifierSampleInfoResult.class
/NIVision$GetFileInfoResult.class
/NIVision$GetGeometricFeaturesFromCurvesResult.class
/NIVision$GetGeometricTemplateFeatureInfoResult.class
/NIVision$GetImageSizeResult.class
/NIVision$GetMidLineResult.class
/NIVision$GetParticleClassifierOptions2Result.class
/NIVision$GetParticleClassifierOptionsResult.class
/NIVision$GetPerpendicularLineResult.class
/NIVision$GetPointsOnContourResult.class
/NIVision$GetPointsOnLineResult.class
/NIVision$GridDescriptor.class
/NIVision$GroupBehavior.class
/NIVision$HSIValue.class
/NIVision$HSLValue.class
/NIVision$HSVValue.class
/NIVision$HistogramReport.class
/NIVision$IMAQdxAttributeInformation.class
/NIVision$IMAQdxAttributeType.class
/NIVision$IMAQdxAttributeVisibility.class
/NIVision$IMAQdxBayerAlgorithm.class
/NIVision$IMAQdxBayerPattern.class
/NIVision$IMAQdxBufferNumberMode.class
/NIVision$IMAQdxBusType.class
/NIVision$IMAQdxCameraControlMode.class
/NIVision$IMAQdxCameraFile.class
/NIVision$IMAQdxCameraInformation.class
/NIVision$IMAQdxDestinationMode.class
/NIVision$IMAQdxEnumItem.class
/NIVision$IMAQdxIncompleteBufferMode.class
/NIVision$IMAQdxInterfaceFileFlags.class
/NIVision$IMAQdxLostPacketMode.class
/NIVision$IMAQdxOutputImageType.class
/NIVision$IMAQdxOverwriteMode.class
/NIVision$IMAQdxPixelSignedness.class
/NIVision$IMAQdxPnpEvent.class
/NIVision$IMAQdxStreamChannelMode.class
/NIVision$IMAQdxUSBConnectionSpeed.class
/NIVision$IMAQdxValueType.class
/NIVision$Image.class
/NIVision$ImageFeatureMode.class
/NIVision$ImageInfo.class
/NIVision$ImageSize.class
/NIVision$ImageType.class
/NIVision$InspectionAlignment.class
/NIVision$InspectionOptions.class
/NIVision$InternalParameters.class
/NIVision$InterpolatePointsResult.class
/NIVision$InterpolationMethod.class
/NIVision$JPEG2000FileAdvancedOptions.class
/NIVision$KernelFamily.class
/NIVision$LCDOptions.class
/NIVision$LCDReport.class
/NIVision$LCDSegments.class
/NIVision$LabelToROIReport.class
/NIVision$LearnCalibrationOptions.class
/NIVision$LearnColorPatternOptions.class
/NIVision$LearnGeometricPatternAdvancedOptions.class
/NIVision$LearnGeometricPatternAdvancedOptions2.class
/NIVision$LearnPatternAdvancedOptions.class
/NIVision$LearnPatternAdvancedRotationOptions.class
/NIVision$LearnPatternAdvancedShiftOptions.class
/NIVision$LearningMode.class
/NIVision$LegFeature.class
/NIVision$LevelType.class
/NIVision$Line.class
/NIVision$LineDescriptor.class
/NIVision$LineEquation.class
/NIVision$LineFeature.class
/NIVision$LineFloat.class
/NIVision$LineGaugeMethod.class
/NIVision$LineMatch.class
/NIVision$LineProfile.class
/NIVision$LinearAverages.class
/NIVision$LinearAveragesMode.class
/NIVision$LocalThresholdMethod.class
/NIVision$MappingMethod.class
/NIVision$MaskToROIResult.class
/NIVision$MatchColorPatternOptions.class
/NIVision$MatchColorPatternResult.class
/NIVision$MatchColorResult.class
/NIVision$MatchGeometricPattern2Result.class
/NIVision$MatchGeometricPattern3Result.class
/NIVision$MatchGeometricPatternAdvancedOptions.class
/NIVision$MatchGeometricPatternAdvancedOptions2.class
/NIVision$MatchGeometricPatternAdvancedOptions3.class
/NIVision$MatchGeometricPatternOptions.class
/NIVision$MatchMode.class
/NIVision$MatchMultipleGeometricPatternsResult.class
/NIVision$MatchPattern2Result.class
/NIVision$MatchPattern3Result.class
/NIVision$MatchPatternAdvancedOptions.class
/NIVision$MatchPatternOptions.class
/NIVision$MatchShapeResult.class
/NIVision$MatchingMode.class
/NIVision$MathTransformMethod.class
/NIVision$MaxGridSize.class
/NIVision$MeasureParticlesCalibrationMode.class
/NIVision$MeasureParticlesReport.class
/NIVision$MeasurementType.class
/NIVision$MeasurementValue.class
/NIVision$MeterArc.class
/NIVision$MeterArcMode.class
/NIVision$MorphologyMethod.class
/NIVision$MorphologyReconstructOperation.class
/NIVision$MulticoreOperation.class
/NIVision$MultipleGeometricPattern.class
/NIVision$NearestNeighborClassResult.class
/NIVision$NearestNeighborMethod.class
/NIVision$NearestNeighborMetric.class
/NIVision$NearestNeighborOptions.class
/NIVision$NearestNeighborTrainingReport.class
/NIVision$NormalizationMethod.class
/NIVision$OCRProcessingOptions.class
/NIVision$OCRSpacingOptions.class
/NIVision$ObjectType.class
/NIVision$OpaqueStruct.class
/NIVision$OpenContour.class
/NIVision$OutlineMethod.class
/NIVision$Overlay.class
/NIVision$OverlayTextOptions.class
/NIVision$PairOfParallelLinePairsFeature.class
/NIVision$PaletteType.class
/NIVision$ParallelLinePairFeature.class
/NIVision$PartialCircle.class
/NIVision$PartialEllipse.class
/NIVision$ParticleClassifierAutoThresholdOptions.class
/NIVision$ParticleClassifierLocalThresholdOptions.class
/NIVision$ParticleClassifierOptions.class
/NIVision$ParticleClassifierPreprocessingOptions.class
/NIVision$ParticleClassifierPreprocessingOptions2.class
/NIVision$ParticleClassifierThresholdType.class
/NIVision$ParticleClassifierType.class
/NIVision$ParticleFilterCriteria.class
/NIVision$ParticleFilterCriteria2.class
/NIVision$ParticleFilterOptions.class
/NIVision$ParticleFilterOptions2.class
/NIVision$ParticleInfoMode.class
/NIVision$ParticleReport.class
/NIVision$ParticleType.class
/NIVision$PatternMatch.class
/NIVision$PhotometricMode.class
/NIVision$Plane3D.class
/NIVision$Point.class
/NIVision$PointDouble.class
/NIVision$PointDoublePair.class
/NIVision$PointFloat.class
/NIVision$PointSymbol.class
/NIVision$PolarityType.class
/NIVision$PolyModel.class
/NIVision$QRCellFilterMode.class
/NIVision$QRCellSampleSize.class
/NIVision$QRCodeDataToken.class
/NIVision$QRCodeDescriptionOptions.class
/NIVision$QRCodeReport.class
/NIVision$QRCodeSearchOptions.class
/NIVision$QRCodeSizeOptions.class
/NIVision$QRDemodulationMode.class
/NIVision$QRDimensions.class
/NIVision$QRGradingMode.class
/NIVision$QRMirrorMode.class
/NIVision$QRModelType.class
/NIVision$QRPolarities.class
/NIVision$QRRotationMode.class
/NIVision$QRStreamMode.class
/NIVision$QuantifyData.class
/NIVision$QuantifyReport.class
/NIVision$RGBU64Value.class
/NIVision$RGBValue.class
/NIVision$ROI.class
/NIVision$ROILabel.class
/NIVision$ROIProfile.class
/NIVision$Rake2Result.class
/NIVision$RakeDirection.class
/NIVision$RakeOptions.class
/NIVision$RakeProcessType.class
/NIVision$RakeReport.class
/NIVision$RakeReport2.class
/NIVision$Range.class
/NIVision$RangeDouble.class
/NIVision$RangeFloat.class
/NIVision$RangeLabel.class
/NIVision$RangeSettingDouble.class
/NIVision$RawData.class
/NIVision$ReadClassifierFileMode.class
/NIVision$ReadClassifierFileResult.class
/NIVision$ReadMeterResult.class
/NIVision$ReadOCRFileResult.class
/NIVision$ReadPDF417BarcodeResult.class
/NIVision$ReadResolution.class
/NIVision$ReadStrategy.class
/NIVision$ReadTextOptions.class
/NIVision$ReadTextReport.class
/NIVision$ReadTextReport2.class
/NIVision$ReadTextReport3.class
/NIVision$ReadVisionFileResult.class
/NIVision$Rect.class
/NIVision$RectOrientation.class
/NIVision$RectangleDescriptor.class
/NIVision$RectangleFeature.class
/NIVision$RectangleMatch.class
/NIVision$ReferenceMode.class
/NIVision$RefineMatchesResult.class
/NIVision$RegistrationMethod.class
/NIVision$RotatedRect.class
/NIVision$RotationAngleRange.class
/NIVision$RoundingMode.class
/NIVision$SampleScore.class
/NIVision$ScalingMethod.class
/NIVision$ScalingMode.class
/NIVision$SearchArcInfo.class
/NIVision$SearchDirection.class
/NIVision$SearchLineInfo.class
/NIVision$SearchStrategy.class
/NIVision$SegmentInfo.class
/NIVision$SegmentationDistanceLevel.class
/NIVision$SelectParticleCriteria.class
/NIVision$SettingType.class
/NIVision$SetupMatchPatternData.class
/NIVision$ShapeDetectionOptions.class
/NIVision$ShapeMode.class
/NIVision$ShapeReport.class
/NIVision$SimpleEdgeOptions.class
/NIVision$SimpleEdgeResult.class
/NIVision$SizeType.class
/NIVision$SkeletonMethod.class
/NIVision$Spoke2Result.class
/NIVision$SpokeDirection.class
/NIVision$SpokeOptions.class
/NIVision$SpokeReport.class
/NIVision$SpokeReport2.class
/NIVision$StraightEdge.class
/NIVision$StraightEdgeOptions.class
/NIVision$StraightEdgeReport2.class
/NIVision$StraightEdgeSearchMode.class
/NIVision$StructuringElement.class
/NIVision$SupervisedColorSegmentationReport.class
/NIVision$TIFFCompressionType.class
/NIVision$TIFFFileOptions.class
/NIVision$TextAlignment.class
/NIVision$ThresholdData.class
/NIVision$ThresholdMethod.class
/NIVision$ThresholdMode.class
/NIVision$Tool.class
/NIVision$ToolWindowOptions.class
/NIVision$TransformBehaviors.class
/NIVision$TransformReport.class
/NIVision$TruncateMode.class
/NIVision$TwoEdgePolarityType.class
/NIVision$UserPointSymbol.class
/NIVision$VerifyTextResult.class
/NIVision$VerticalTextAlignment.class
/NIVision$View3DOptions.class
/NIVision$VisionInfoType.class
/NIVision$VisionInfoType2.class
/NIVision$WaveletBandsReport.class
/NIVision$WaveletOptions.class
/NIVision$WaveletTransformMode.class
/NIVision$WaveletType.class
/NIVision$WindowBackgroundFillStyle.class
/NIVision$WindowBackgroundHatchStyle.class
/NIVision$WindowEventType.class
/NIVision$WindowOptions.class
/NIVision$WindowSize.class
/NIVision$WindowThreadPolicy.class
/NIVision$WriteClassifierFileMode.class
/NIVision$dxEnumerateVideoModesResult.class
/NIVision.class
/VisionException.class
