/AxisCamera$1.class
/AxisCamera$ExposureControl.class
/AxisCamera$Resolution.class
/AxisCamera$Rotation.class
/AxisCamera$WhiteBalance.class
/AxisCamera.class
/USBCamera$WhiteBalance.class
/USBCamera.class
