/CANExceptionFactory.class
/CANInvalidBufferException.class
/CANJNI.class
/CANJaguarVersionException.class
/CANMessageNotAllowedException.class
/CANMessageNotFoundException.class
/CANNotInitializedException.class
